body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5vh 5vw 5vh 5vw;
  font-family: 'DM Sans', sans-serif, 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
